@charset "utf-8";
/*@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');*/

/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../../fonts/NotoSansKR-Thin.woff2) format('woff2'),
		 url(../../fonts/NotoSansKR-Thin.woff) format('woff'),
		 url(../../fonts/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../../fonts/NotoSansKR-Light.woff2) format('woff2'),
		 url(../../fonts/NotoSansKR-Light.woff) format('woff'),
		 url(../../fonts/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 400;
	 src: url(../../fonts/NotoSansKR-Regular.woff2) format('woff2'),
		  url(../../fonts/NotoSansKR-Regular.woff) format('woff'),
		  url(../../fonts/NotoSansKR-Regular.otf) format('opentype');
   }


  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 700;
	 src: url(../../fonts/NotoSansKR-Bold.woff2) format('woff2'),
		  url(../../fonts/NotoSansKR-Bold.woff) format('woff'),
		  url(../../fonts/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
	 font-family: 'Noto Sans KR';
	 font-style: normal;
	 font-weight: 900;
	 src: url(../../fonts/NotoSansKR-Black.woff2) format('woff2'),
		  url(../../fonts/NotoSansKR-Black.woff) format('woff'),
		  url(../../fonts/NotoSansKR-Black.otf) format('opentype');
   }



/* reset */
html, body{height:100%; margin:0; background:#fff;}
body {color:#555;font-size:13px;line-height: 1.5;font-family:'Noto Sans KR', 고딕, san-serif, IcoMoon,dashicons, FontAwesome!important;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0} 
img,fieldset,iframe{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none} 
img, input, button, select, textarea {vertical-align:middle;}
button {overflow:visible;margin:0;padding:0;border:none;background:0;vertical-align:middle;cursor:pointer;}
label {display:inline-block;vertical-align:middle;cursor:pointer;}
em, i, address {font-style:normal;}
a, a:link, a:visited {color:#555;text-decoration:none;}
a:hover {color:#555;}
a:active {color:#555;text-decoration:none;}
table {border-spacing:0;border-collapse:collapse;table-layout:fixed;word-wrap:break-word;}
hr, legend, caption {overflow:hidden;position:absolute;top:-9999px;left:-9999px;height:0;font-size:0;line-height:0;}
caption{position:static;}
input, textarea, select, button{color:#555;font-size:13px;font-family:'Noto Sans KR', 고딕, san-serif, IcoMoon,dashicons, FontAwesome!important;}
textarea{resize:none;}
article, aside, footer, header, hgroup, nav, section, menu {display:block; padding:0; margin:0;}
abbr, acronym, applet, audio, big, canvas, cite, dfn,
code, samp, kbd, var, datalist, details, keygen, small, 
source, strike, sub, sup, tt {margin:0; padding:0;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal} 
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;}


/* common */
.hidden{display:block;overflow:hidden;position:absolute;top:-9999px;left:-9999px;height:0;font-size:0;line-height:0;}
.none{display:none;height:0;font-size:0;line-height:0;}
.clearfix{display:block;clear:both;}
.clearfix:after{content:" ";display:block;clear:both;height:0;font-size:0;line-height:0;}


/* skipnavigation */
.skipnavigation{position:relative;text-align:center;}
.skipnavigation a{display:block;overflow:hidden;width:0;height:0;font-weight:bold;white-space:nowrap;}
.skipnavigation a:focus,
.skipnavigation a:active{overflow:hidden;width:100%;height:19px;padding:5px 0 0;color:#fff;background:#454545;}


/* layout */ 
html, body, #wrap{height:100%;}
.bg1{background:url('../../images/bg_pattern.png') repeat 0 0;}
#wrap{position:relative;width:100%; background:#ffffff;}
#wrap:after{content:"";display:block;clear:both;}



.m0a{margin:0 auto;}
/* margin-top */
.mt0{margin-top:0px!important;}
.mt5{margin-top:5px!important;}
.mt8{margin-top:8px!important;}
.mt10{margin-top:10px!important;}
.mt15{margin-top:15px!important;}
.mt20{margin-top:20px!important;}
.mt25{margin-top:25px!important;}
.mt30{margin-top:30px!important;}
.mt40{margin-top:40px!important;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px!important;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mtm1{margin-top:-1px;}

/* margin-right */
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

/* margin-left */
.ml0{margin-left:0!important;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px!important;}
.ml20{margin-left:20px!important;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml80{margin-left:80px;}
.ml90{margin-left:90px;}
.ml100{margin-left:100px;}

/* margin-right */
.mr0{margin-right:0px!important;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mr60{margin-right:60px;}
.mr70{margin-right:70px;}
.mr80{margin-right:80px;}
.mr90{margin-right:90px;}
.mr100{margin-right:100px;}

/* padding */
.pd5{padding:5px!important;}
.pd5_20{padding:5px 20px!important;}
.pd60{padding:60px!important;}

/* padding-top */
.pdt0{padding-top:0!important;}
.pd0{padding:0!important;}
.pd2{padding:2px!important;}


/* width */
.w50{width:50px!important;}
.w55{width:55px!important;}
.w60{width:60px!important;}
.w65{width:65px!important;}
.w70{width:70px!important;}
.w75{width:75px!important;}
.w80{width:80px!important;}
.w85{width:85px!important;}
.w90{width:90px!important;}
.w95{width:95px!important;}
.w100{width:100px!important;}
.w105{width:105px!important;}
.w110{width:110px!important;}
.w115{width:115px!important;}
.w120{width:120px!important;}
.w125{width:125px!important;}
.w130{width:130px!important;}
.w135{width:135px!important;}
.w140{width:140px!important;}
.w145{width:145px!important;}
.w150{width:150px!important;}
.w155{width:155px!important;}
.w160{width:160px!important;}
.w165{width:165px!important;}
.w170{width:170px!important;}
.w175{width:175px!important;}
.w180{width:180px!important;}
.w185{width:185px!important;}
.w190{width:190px!important;}
.w195{width:195px!important;}
.w200{width:200px!important;}
.w205{width:205px!important;}
.w210{width:210px!important;}
.w215{width:215px!important;}
.w220{width:220px!important;}
.w225{width:225px!important;}
.w230{width:230px!important;}
.w235{width:235px!important;}
.w240{width:240px!important;}
.w245{width:245px!important;}
.w250{width:250px!important;}
.w378{width:378px;}
.w400{width:400px;}

.w25p{width:25%!important;}
.w50p{width:50%!important;}
.w100p{width:100%!important;}

/* text-align */
.tr{text-align:right!important;}
.tc{text-align:center!important;}
.tl{text-align:left!important;}

/* font */
.bold{font-weight:bold;}

/* display */
.db{display:block!important;}
.dib{display:inline-block!important;}

/* header */ 
#header{position:fixed; z-index:10;width:100%; height:70px; top:0;  background:#ffffff; border-bottom:1px solid #d2d2d2;     min-width: 1520px;}
#header h1{position:absolute; left:15px; top:50%; transform:translateY(-50%);}
#header h1 img{width:100%;}
#header .h_select{position:absolute; left:250px; top:50%; transform:translateY(-50%);}
#header .h_select .sel_title{display:inline-block; font-size:16px; color:#3b5874; vertical-align:middle;}
#header .h_select select{height:34px; border:2px solid #476683; padding:0 17px; width:200px; border-radius:20px; margin-left:17px;}
#header .util{position:absolute; right:40px;top:50%; transform:translateY(-50%);width:500px;text-align:right;}
#header .util .txt{color:#555555;font-size:16px; position:relative;}
#header .util .txt::before{display:inline-block; content:""; background:url('../../images/main/log_face.png') center no-repeat; width:44px; height:44px; position:absolute; left: -49px; top: -14px;}
#header .util .txt strong{font-size:16px;}
#header .util .btn_logout{display:inline-block;color:#91969b;font-size:16px;padding:0 0px 0 28px;margin-left:40px;line-height:15px; position:relative; }
#header .util .btn_logout:before{display:inline-block; content:""; background:url('../../images/main/bg_lock.png') center no-repeat; width:20px; height:20px; position:absolute; left:0; top:50%; transform:translateY(-50%);}
#header .util .btn_logout:hover{text-decoration:none;}


/* sidebar */
#left_wrap {float:left;overflow:hidden; height:100%; min-height:100%; margin:0 auto; position: relative; overflow:hidden;}

.sidebar{position:fixed;left:0;top:154px;width:252px; box-sizing: border-box;height:100%;z-index:3;border-right:1px solid #d2d2d2;background:#fff;/* box-shadow:-10px 0px 29px 0px;*/}
.sidebar .btn_lock{position:absolute;right:-27px;top:50%;margin:-46px 0 0;background:#fff; border:1px solid #d6dfe4; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
.sidebar .btn_lock a{display:block; width:25px; height:100px; font-size:0; line-height:0; background:url('../../images/main/bg_arrow.png') no-repeat 5px 50%; }
.sidebar .btn_lock.lock a{}
.sidebar .btn_menu{display:inline-block;width:50%;margin-right:-4px;background:#2460ce;height:47px;line-height:46px;border-top:2px solid #3953a4;text-align:center;font-size:16px;color:#fff;font-weight:bold;}
.sidebar .btn_bookmark{display:inline-block;width:50%;margin-right:-4px;background:#927660;height:47px;line-height:46px;border-top:2px solid #3953a4;text-align:center;font-size:16px;color:#fff;font-weight:bold;}


.sidebar .lnb{position:relative; height:100%;border-top:none; overflow-y:auto;}
.off-menu .sidebar .lnb{font-size:0;}
.off-menu .sidebar .lnb ul li a{font-size:0;}
.sidebar .lnb li{position:relative;border-bottom:1px solid f6f6f6;}
.sidebar .lnb li a{display:block;height:48px;padding:0 0 0 18px;line-height:47px;color:#303030;font-weight:bold;font-size:17px;background:#fcfcfc;}
.sidebar .lnb li a:hover{text-decoration:none;}
.sidebar .lnb > li > a.on{background:#2e65be;color:#ffffff; border-bottom:1px solid #d6dfe4;}
.sidebar .lnb ul{display:none;}
.sidebar .lnb ul li{border-bottom:none;}
.sidebar .lnb ul li a{height:50px;line-height:48px;  /*padding:0 3px;*/ border-bottom:1px solid #cfcfcf;font-size:16px;color:#6da3eb;background:#f6f6f6; }
.sidebar .lnb > ul > li:first-child > a{border-top:1px solid #d2d2d2;}
.sidebar .lnb ul li:last-child a{border:none;}
.sidebar .lnb > li > ul > li > a.on{margin:0;padding:0 17px;font-size:16px;color:#2983d9;background:#f6f6f6;}
.sidebar .lnb ul ul{margin:0 14px;}
.sidebar .lnb ul ul li a{display:inline-block; border:none;line-height:38px;height:40px;padding:0 5 0 48px;margin:0;font-size:15px;background:#fff;font-weight:normal; position:relative;}
.sidebar .lnb ul ul li a:hover::before{display:inline-block; content:""; background:url('../../images/main/depth_arrow.png') center no-repeat; width:10px; height:12px; position:absolute; left:0; top:13px;}
.sidebar .lnb > li > ul > li > ul > li.on a{font-weight:bold;}
.sidebar .lnb > li > ul > li > ul > li.on > a::before{display:inline-block; content:""; background:url('../../images/main/depth_arrow.png') center no-repeat; width:10px; height:12px; position:absolute; left:0; top:13px;}
.lnb_footer{position:absolute; width:100%; padding:25px 25px 50px 25px; box-sizing:border-box;  bottom:0; left:0; background:#ebebeb;}
.lf_logo{display:block; text-align:center;}
.lnb_txt_f{font-size:11px;  }
/* .sidebar .lnb ul ul li a:hover{color:#000;font-weight:bold;} */
/* .sidebar .lnb ul ul li a:before{content:'';display:inline-block;vertical-align:middle;width:2px;height:2px;background:#aaaaaa;margin-right:6px;} */


/* container */
#container{position:absolute;left:287px; top:90px;z-index:1;min-width:1520px;min-height:calc(100% - 80px);}
#container:after{content:"";display:block;clear:both;}
#container_02{position:absolute;left:287px; top:110px;z-index:1;min-width:800px;min-height:calc(100% - 80px);}
#container_02:after{content:"";display:block;clear:both;}
#container_03{position:relative; width:100%; /* height:100vh;*/ box-sizing:border-box; height: calc(100% - 150px);}
#container_04{    position: relative; width: 100%; height: 100vh; box-sizing: border-box;}

/* title */
.title_box{width:100%; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

/* contents */
.contents{position:relative; width:100%; height:100%;}
.contents:after{content:"";display:block;clear:both;}
.contents.window_popup{padding:30px; box-sizing:border-box; background:#ffffff; border:1px solid #476683; overflow:auto;}

/* table type */
.tbl_ty1{position:relative; margin:15px 0 0 0;}
.tbl_ty1 table{width:100%;}
.tbl_ty1 tbody th{font-size:14px;font-weight:bold;text-align:center;color:#ffffff; height:40px; background:#aaaaaa; border:1px solid #dcdcdc; }  
.tbl_ty1 td{height:40px; background:#ffffff;  border:1px solid #dcdcdc; padding:0 10px;}
/* .tbl_ty1 .btn_right2{top:-32px;} */

.tbl_ty2{background:#fff; border-bottom:1px solid #dddddd; border-top:1px solid #dddddd; margin-top:15px;}
.tbl_ty2 table{width:100%;}
.tbl_ty2 thead th{font-size:15px;font-weight:bold;text-align:center;border-right:1px solid #e6e6e6;background:#f9f9f9;border-bottom:1px solid #999999; height:40px; background:#476683; color:#ffffff; padding:0 5px;}
.tbl_ty2 td{line-height:1.2;font-size:14px;border-bottom:1px solid #dddddd;text-align:center; height:40px; color:#303030; padding:0 5px;}
.tbl_ty2 tbody tr{background:#ffffff; border:1px solid #d6dfe4;}
.tbl_ty2 tbody tr:last-child{border-bottom:0;}
.tbl_ty2 tbody tr:nth-child(2n){background:#f0f4f7;}
.tbl_ty2 tbody tr th{font-size:15px;font-weight:bold;text-align:center;border-right:1px solid #e6e6e6;background:#f9f9f9;border-bottom:1px solid #999999; height:40px; background:#476683; color:#ffffff; padding:0 5px;}
.tbl_ty2 tbody tr td{line-height:1.2;font-size:14px;border-bottom:1px solid #dddddd;text-align:center; height:40px; color:#303030; padding:0 15px;}


.tbl_ty3{border:1px solid #dddddd;background:#fff;border-bottom:none;}
.tbl_ty3 table{width:100%;}
.tbl_ty3 table tr{height:45px;}
.tbl_ty3 th{/*padding:5px 10px 4px 20px; */ padding:0 15px;font-size:15px;font-weight:bold;border-right:1px solid #dddddd;color:#ffffff;background:#476683;border-bottom:1px solid #dddddd;text-align:center;}
.tbl_ty3 tbody th{border-right:1px solid #999}
.tbl_ty3 td{/*padding:9px 4px 10px 20px;*/ padding:5px 15px; line-height:1.2;font-size:15px;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;}

.tbl_ty4{position:relative; margin:15px 0 0 0; border-radius:12px; overflow:hidden; border:1px solid #d6dfe4;}
.tbl_ty4 table{width:100%;}
.tbl_ty4 table tr{ border-bottom:1px solid #d6dfe4;}
.tbl_ty4 table tr:last-child{border-bottom:0;}
.tbl_ty4 tbody th{font-size:14px;font-weight:bold;text-align:center;color:#000000; height:40px; background:#eeeeee;  border-right:1px solid #d6dfe4; border-left:1px solid #d6dfe4;}   
.tbl_ty4 tbody th:first-child{border-left:0;}
.tbl_ty4 td{height:40px; background:#ffffff;  padding:0 20px;}

.t-area{border:1px solid #dcdcdc; padding:10px; background:#ffffff; box-sizing:border-box;}
.t-area textarea{border:none; height:100%;}

.file_box{width:100%; overflow:hidden; display:block; box-sizing:border-box; height:auto;}
input.upload_text {/*읽기전용 인풋텍스트*/ float:left; width:200px;/* 버튼 포함 전체 가로 길이*/ height:30px; line-height:19px; padding:0 3px; border:1px solid #dcdcdc;}
div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/ position:absolute; top:0; right:0; cursor:pointer; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -moz-opacity:0;}
div.upload-btn_wrap {/*버튼테두리 감싼 div*/ overflow:hidden; position:relative; float:left; width:70px;/*width, height 값은 button(찾아보기)값과 같아야함 */ height:34px; padding-left:3px; }
div.upload-btn_wrap button {/*버튼 div*/ width:70px; height:34px; background:#333; border:1px solid #333; color:#fff; font-size:15px; }


/* paging */
.paging{position:relative;text-align:center;color:#333; margin-top:-1px;padding:6px 0;line-height:23px}
.paging a{cursor:pointer; display:inline-block; width:35px; height:35px; border:1px solid #eeeeee; line-height:33px; box-sizing:border-box; color:#555555; font-size:16px;}
.paging p{cursor:pointer; display:inline-block; width:35px; height:35px; border:1px solid #eeeeee; line-height:33px; box-sizing:border-box; color:#555555; font-size:16px;}
.paging .first, .paging .prev, .paging .next, .paging .last{width:35px;height:35px;padding:0;line-height:0;font-size:0;text-indent:-99px;border:none;vertical-align:top;border:1px solid #eeeeee;}
.paging .first{background:#ffffff url('../../images/main/btn_page_first.png') no-repeat 50% 50%;}
.paging .prev{background:#ffffff url('../../images/main/btn_page_prev.png') no-repeat 50% 50%;}
.paging .next{background:#ffffff url('../../images/main/btn_page_next.png') no-repeat 50% 50%;}
.paging .last{background:#ffffff url('../../images/main/btn_page_last.png') no-repeat 50% 50%;}
.paging strong, .paging a{display:inline-block;vertical-align:top;font-weight:normal;}
/* .paging strong, .paging a:hover, .paging a:focus{color:#bc3231;} */
/* .paging p{position:absolute;right:9px;top:20px;font-size:13px;color:#333;} */
.btn_page{background:#ffffff;}
.btn_page:hover{background:#476683; color:#ffffff;}
.btn_page.on{border:1px solid #476683;}


/* box */
.box_tab{position:relative; margin-top:8px; border-bottom:2px solid #314960;}
.box_tab ul{position:relative; overflow:hidden;  width:calc(100% - 10%);}
.box_tab li{position:relative;width:10%;height:35px; float:left; box-sizing:border-box;}
.box_tab li a{display:block;height:35px;line-height:35px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; background:#fff;padding:0 25px 0 13px ;color:#333;font-size:13px;letter-spacing:-0.02em; box-sizing:border-box;}
.box_tab li:last-child a{border-right:1px solid #dcdcdc;}
.box_tab li:nth-child(10n) a{border-right:1px solid #dcdcdc;}

.box_tab li button{position:absolute;display:block;width:12px;height:12px;background:url('../../images/main/btn_delete.png') no-repeat 50% 50%;right:13px; top:12px;font-size:0;}
.box_tab li.on a, .box_tab li a:hover{background:#476683;color:#fff;font-weight:bold;text-decoration:none;}
.box_tab li.on button, .box_tab li a:hover + button{background:url('../../images/main/btn_delete_on.png') no-repeat 50% 50%;}
.box_tab .btn_close_all{position:absolute; display:inline-block; bottom:0; right:0; height:35px;line-height:35px;  width:10%;right:0px; top:0px; text-align:right; color:#000; font-size:13px;font-weight:bold; box-sizing:border-box; text-align:left;  padding-left:13px; background:#aaaaaa; color:#ffffff; border:1px solid #dcdcdc; border-bottom:0; bottom:10px;}
.box_tab .btn_close_all::after{display:inline-block; content:""; background:url('../../images/main/btn_close.png') center no-repeat; width:12px; height:12px; position:absolute; top:50%; transform:translateY(-50%); right:13px;}



/* location */
.location{height:30px;padding:7px 0 0 0px;font-size:14px;}
.location span{margin:0 6px;font-size:14px;color:#303030;vertical-align:unset;font-weight:bold;}
.location strong{margin:0 6px;font-size:14px;color:#303030;vertical-align:unset;}
.location .home{font-size:0;background:url('../../images/main/ico_home.png') no-repeat 50% 50%;width:14px;height:12px;display:inline-block; vertical-align:middle;}


/* txt */
.tit_ty1{position:relative; font-size:23px;font-weight:bold;color:#666666;letter-spacing:-1px; line-height: 26px;  margin-top:30px; display:inline-block;}
.tit_ty2{position:relative; font-size:18px;font-weight:bold;color:#666666;letter-spacing:-1px; line-height: 26px;  margin-top:30px; display:inline-block;}
.tit_ty2::before{display:inline-block; content:"-"; color:#666666;  font-weight:bold; margin-right:10px;}
.sub_tit_01{display:inline-block; color:#303030; font-size:15px; line-height:26px; padding-left:10px;}
.sub_tit_01 .total{color:#2983d9;}
.sub_tit_01::before{display:inline-block; content:""; width:2px; height:15px; background:#303030; margin-right:10px; vertical-align:-6%;}

.txt_small{font-size:13px !important; color:#3b5874;}
.txt_small_02{font-size:13px !important; color:#ff7a04;}
.col_green{color:#339900 !important;}

.point{display:inline-block; font-size:18px; color:#fbff01; margin-left:5px;}
.point_02{display:inline-block; font-size:18px; color:#ff7a04; margin-left:5px;}


.scroll_y{position:relative;overflow:hidden;overflow-y:scroll;background:#fff;}
.scroll_x{position:relative;overflow:hidden;overflow-x:scroll;background:#fff;}


/* btn */
.btn_center{text-align:center;margin:30px 0 0;}
.btn_center.line{border-top:1px solid #e5e5e5;padding-top:20px;}
.btn_right{text-align:right; margin:10px 0 0;}
.btn_right2{position:relative; text-align:right;}
.btn_right3{text-align:right; /*margin:-34px 0 9px;*/ float:right; display:inline-block; margin-top:25px;}

.btns{position:relative; display:inline-block; min-width:36px; height:33px;padding:0 18px; line-height:31px;color:#888888;font-size:14px;background:#fff;border:1px solid #eeeeee;text-align:center;vertical-align:middle;text-decoration:none;overflow:hidden; letter-spacing:-0.01em;font-weight:bold; background:#ffffff;}
a.btns{color:#333;height:24px;line-height:22px;}
button.btns{line-height:15px;padding-bottom:1px;}
.btn_ty1{background:#448aca;color:#fff;border-color:#448aca;}/* 조회 */
.btn_ty2{background:#fff;color:#448aca;border-color:#448aca;}/* 등록,승인 */
.btn_ty3{background:#f28786;color:#fff;border-color:#f28786;}/* 삭제 */
.btn_ty4{background:#fff;color:#888888;border-color:#eeeeee ;}/* 목록 */
.btn_ty5{background:#63b88a;color:#fff;border-color:#eeeeee;}/* 저장 */
.btn_ty6{background:#fff;color:#63b88a;border-color:#eeeeee;}/* 수정 */
.btn_ty7{background:#fff;color:#448aca;border-color:#eeeeee;}/* 추가 */
.btn_ty8{background:#fff;color:#f28786;border-color:#eeeeee;}/* 취소 */
.btn_ty9{background:#888888;color:#ffffff;border-color:#888888;}/* 닫기 */

a.btn_ty1{color:#fff;}
/* .btn_ty2{height:36px;min-width:100px;}
.btn_ty3{background:#2460ce;color:#fff;border-color:#185ad4;height:36px;min-width:100px}
.btn_ty3:after{background:#1c4ba1;} */
a.btn_ty3{color:#fff;}

.btn_search{border:1px solid #dcdcdc; margin-left:-5px;width:34px;height:34px; background:#fff url('../../images/main/btn_search.png') no-repeat 50% 50%;font-size:0;}
.btn_calendar{border:1px solid #dcdcdc; margin-left:-5px;width:30px;height:30px;background:#fff url('../../images/main/bg_calendar.png') no-repeat 50% 50%;font-size:0;}
.btn_file{display:inline-block; width:24px; height:19px; background:url('../../images/main/btn_down.png') center no-repeat; background-size:cover;}
.btn_del{display:inline-block; width:14px; height:14px; background:url('../../images/main/btn_del.png') center no-repeat; background-size:cover;}

.btns02{display:inline-block; height:28px; padding:0 10px; font-size:14px; background:#888888; color:#ffffff; line-height:28px; border-radius:5px; margin:0 5px;}
.btns02.ty1{background:#fbba66;}/* 선택, 보기 */
.btns02.ty2{background:#f28786;}/* 삭제 */
.btns02.ty3{background:#63b88a;}/* 상세보기,이력보기, */
.btns02.ty4{background:#448aca;}/* 찾기, 추가 */

.btn_excel{display:inline-block; height:30px; box-sizing:border-box; color:#ffffff; font-size:14px; background:#63b88a; padding:0 12px;   border-radius:15px;}
.btn_excel::before{display:inline-block; content:""; background:url('../../images/main/ico_excel.png') center no-repeat; width:18px; height:19px; vertical-align:bottom; margin-right:5px;}
/* form */



input[type="text"]{border:1px solid #dcdcdc;height:30px;line-height:32px;padding:0 4px;width:30px;vertical-align:middle; box-sizing:border-box;}
input[type="password"]{border:1px solid #dcdcdc;height:30px;line-height:32px;padding:0 4px;width:30px;vertical-align:middle; box-sizing:border-box;}
select{border:1px solid #dcdcdc;height:30px;  box-sizing:border-box;}
select { -webkit-appearance: none; /* 네이티브 외형 감추기 */  -moz-appearance: none;  appearance: none; background:#ffffff url(../../images/main/select_arrow.png) no-repeat 95% 50%; /* 화살표 모양의 이미지 */ padding:0 4px;} 
select::-ms-expand { display: none; } 
textarea{width:100%;border:1px solid #dcdcdc;padding:8px 11px;box-sizing:border-box;}

.inp-radio{display:inline-block;height:15px;width:auto;}
.inp-radio input[type = 'radio'] {opacity:0;position:absolute; }
.inp-radio label {position:relative;display:block;height:15px;line-height:15px;width:auto; padding:0 0 0 20px;margin-right:16px;font-size:14px;color:#333;cursor:pointer;background: url('../../images/main/bg_radio.png') no-repeat 0 0;letter-spacing:-0.1em; }
.inp-radio input[type = 'radio']:checked + label {background: url('../../images/main/bg_radio.png') no-repeat 0 100%;background-size:15px auto;}


/* input[type = 'checkbox'] {opacity:0;position:absolute; } */
input[type = 'checkbox'] + label {position:relative;display:block;height:16px;line-height:15px;width:18px; font-size:14px;color:#333;cursor:pointer;background: url('../../images/main/bg_check_01.png') no-repeat 0 0;letter-spacing:-0.1em;  margin:0 auto;}
input[type = 'checkbox']:checked + label {background: url('../../images/main/bg_check_01.png') no-repeat 0 100%; background-size:15px auto;}

.check_agree1{position:relative;display:inline-block;color:#333;font-size:14px;line-height: 24px;}
.check_agree1 label {display:block;padding:0 0 0 20px;cursor:pointer;font-size:14px;line-height: 15px;font-weight:normal;color:#666;}
.check_agree1 label:after {content:'';display:block;width:18px;height:16px;position: absolute;left: 0; margin-top:-15px;font-size: 0;background:url("../../images/main/bg_check_01.png") no-repeat 0 0px;}
.check_agree1 input[type="checkbox"] {opacity: 0;width: 0;height: 0;margin-left: -20px;position: absolute;}
.check_agree1 input[type="checkbox"]:checked + label::after {background:url("../../images/main/bg_check_01.png") no-repeat 0 100%;}
.check_agree1 input[type = 'checkbox'] + label{width:auto;}

.check_agree2{position:relative;display:block;color:#333;font-size:14px;line-height: 24px;}
.check_agree2 label {display:block;padding:0 0 0 20px;cursor:pointer;font-size:14px;line-height: 15px;font-weight:normal;color:#666;}
.check_agree2 label:after {content:'';display:block;width:18px;height:16px;position: absolute;left: 0; margin-top:-15px;font-size: 0;background:url("../../images/main/bg_check_01.png") no-repeat 0 0px;}
.check_agree2 input[type="checkbox"] {opacity: 0;width: 0;height: 0;margin-left: -20px;position: absolute;}
.check_agree2 input[type="checkbox"]:checked + label::after {background:url("../../images/main/bg_check_01.png") no-repeat 0 100%;}
.check_agree2 input[type = 'checkbox'] + label{width:auto;}

/* column */
.colwrap{width:100%; overflow:hidden;}
.cola{float:left;}
.colb{float:left; margin-left:2%;}
.col_5_5 .cola{width:49%; box-sizing:border-box;}
.col_5_5 .colb{width:49%; box-sizing:border-box;}
.col_3_7 .cola{width:29%; box-sizing:border-box;}
.col_3_7 .colb{width:69%; box-sizing:border-box;}

/* 달력 */
.month{width:100%; overflow:hidden; border:1px solid #dcdcdc;}
.month > ul{width:100%; display:flex;}
.month > ul > li{float:left; background:#ffffff; box-sizing:border-box; width:100%; text-align:center; border:1px solid #dcdcdc; position:relative;}
.month .seven_days{height:30px; line-height:28px;}
.month .seven_days li{ font-size:14px; background:#476683;}
.month .seven_days li p{color:#ffffff;}
.month .week li:first-child{background:#ffffff!important;}
.month .week li:last-child{background:#ffffff!important;}
.month .week.on li{background:#d0d0d0;}
.month .week li{padding:30px 10px 10px 10px; position:relative;}
.month .week li .day{position:absolute; top:10px; left:10px; color:#555555;}
.month .week li .day.prev,
.month .week li .day.next{color:#a2a2a2;}
.month .week li .time{display:block; margin-bottom:5px; color: #448aca; background:#eeeeee; height:30px; line-height:28px;}
.month .week li .time.break{color:#e66000; }
.month .week li .time.lunch{color:#3e3d3d; background:#e4e4e4; margin-top:5px;}
.month .week li .time.dinner{color:#1c6cb7;margin-bottom:0;}
.month .week li .time.on{background:#ffc800; font-weight:bold;}

/* login */
/* .login_wrap{  overflow:hidden; width:100%; border:2px solid blue; height:700px; box-sizing:border-box;} */
.bg_log { height:100vh;}
.login_wrap{background:#535353; background-size: cover!important; min-width:810px;overflow:hidden; position:absolute;  top:0; height:100%; width:100%;  }
.login_wrap .login_wrap_in{ overflow:hidden; width:1000px; height:560px; margin:0 auto; position:absolute; top:50%; transform:translateY(-50%); left:50%; margin-left:-505px;}
.login_wrap .login_wrap_in .log_left{float:left; width:500px; box-sizing:border-box; border-top-left-radius: 30px; border-bottom-left-radius: 30px; background: rgba(7, 4, 43, 0.5); height:560px; }
.login_wrap .login_wrap_in .log_left h2{color:#ffffff;font-size:30px; line-height:1.2; margin-top:145px; margin-left:49px;}
.login_wrap .login_wrap_in .log_left .login_txt{padding:20px 0; font-size:16px;margin-top:10px;color:#ffffff;  margin-left:49px;}
.login_wrap .login_wrap_in .log_right{float:left; width:calc( 100% - 500px );}
.login_wrap .login_wrap_in .log_right .login_box{padding:83px; margin:0 auto;border:1px solid #d6d6d6;background:#fff; box-sizing: border-box;}
.login_wrap .login_wrap_in .log_right .login_box .log_logo{display:block; width:268px; height:48px; margin:0 auto; margin-bottom:60px;}
.login_wrap .login_wrap_in .log_right .login_box .log_logoT{float:left;width:325px;font-size:45px;font-weight:500; color:#333; border-bottom:1px solid #d6d6d6; display:block;  heigh:55px; margin:0 auto; margin-bottom:30px;}
.login_wrap .login_wrap_in .log_right .txt{border:1px solid #dddddd;height:47px;line-height:45px;padding:0 15px 0 15px;width:100%; font-size:14px;box-sizing: border-box;}
.login_wrap .login_wrap_in .log_right input[type='text'].txt{ background:url(../../images/main/ico_log_id.png) 96%  no-repeat; margin-bottom:10px; border-left:0;  border-top:0; border-right:0;} 
.login_wrap .login_wrap_in .log_right input[type='password'].txt{ background:url(../../images/main/ico_log_pw.png) 96% no-repeat;  border-left:0;  border-top:0; border-right:0;}
.login_wrap .login_wrap_in .log_right .login{margin:20px 0 20px;width:100%;height:60px;line-height:60px;background:#2575a4;color:#fff;font-size:18px;font-weight:bold;text-align:center;box-sizing: border-box; border-radius:5px;}
.login_wrap .login_wrap_in .log_right .txt_right{margin-top:14px;text-align:right;font-size:13px;}
.login_wrap .login_wrap_in .log_right .check_agree1{display:block; width:100%;}
.login_wrap .login_wrap_in .log_right .check_agree1 label{font-size:16px; display:block; width:100%; color:#888888;}
.login_wrap .login_wrap_in .log_right .info{border-top:1px solid #c6c6c6;padding:10px 0 0;text-align:center;color:#333;font-size:15px;}
.login_wrap .login_wrap_in .log_right .info a{color:#1979d7;font-weight:bold;margin:0 0 0 7px;}
.login_wrap .login_wrap_in .log_right .info a:last-child{margin:0 0 0 0 ;}
.login_wrap .login_wrap_in .log_right .link{display:inline-block;width:100%; text-align:center; margin-top:50px;}
.login_wrap .login_wrap_in .log_right .link a{font-size:16px; color:#888888;}
.login_wrap .login_wrap_in .log_right .link a:after{content:'';width:1px;height:11px;background:#dddddd;margin:0 15px;vertical-align:middle;display:inline-block;}
.login_wrap .login_wrap_in .log_right .link a:last-child:after{content:none;}

/* 로그박스 */
.log_box{width:550px; overflow:hidden; padding:50px; background:#ffffff;  border:1px solid #476683; text-align:center; box-sizing:border-box;position:absolute; top:50%; left:50%;  transform:translateX(-50%) translateY(-50%);}
.log_tit{font-size:24px; line-height:24px; color:#303030;}
.log_line{display:block; width:30px; height:2px; background:#c26bef;   margin:0 auto; margin-top:15px; margin-bottom:20px;}
.log_tit_sub{font-size:15px; color:#777777; line-height:20px; letter-spacing:-1.1px;}
.log_tit_02{text-align:left!important; font-size:18px; color:#666666; line-height:18px;}
.log_ip{width:100%; height:38px;  box-sizing:border-box; position:relative; }
.log_ip::before{position:absolute; bottom:0; display:inline-block; content:""; width:100%; height:2px; background:#d2d2d2;}
.log_ip:hover:before{ background:linear-gradient(to right, #a353c3, #6b53c3 );}
.log_ip.on:before{ background:linear-gradient(to right, #a353c3, #6b53c3 );}
.log_ip input{width:100%; height:100%; box-sizing:border-box; font-size:16px; border:0;}
.btn_login{display:inline-block; width:100%; height:53px; box-sizing:border-box; background:linear-gradient(to right, #a353c3, #6b53c3 ); color:#ffffff; font-size:18px; line-height:53px;} 
.btn_log_box{width:100%; overflow:hidden; box-sizing:border-box; font-size:0; text-align:center;}
.btn_log_box a{display:inline-block; width:33.333%; border:1px solid #dcdcdc; box-sizing:border-box; text-align:center; font-size:16px; height:46px; line-height:44px; color:#777777;}
.btn_log_box a:hover{border:1px solid #b32eeb; color:#b32eeb;}
.btn_log_box a.on{border:1px solid #b32eeb; color:#b32eeb;}
.btn_sns_box{width:100%; overflow:hidden; box-sizing:border-box; font-size:0; position:relative;}
.btn_sns_box .btn_sns{display:inline-block; width:73px; height:73px; box-sizing:border-box;}
.btn_sns_box .btn_sns.naver{position:absolute; left:10px; top:0;}
.btn_sns_box .btn_sns.fb{position:absolute; right:10px; top:0;}

/* 팝업 */
#popup, #popup1, #popup2, #popup3{background:#ffffff; border:1px solid #476683;  border-top:0; padding:15px; }
.ui-dialog-titlebar{background:#ffffff; border:1px solid #476683;  border-bottom:0;}
.txt_main{ text-align:center; font-size:18px; padding:30px 0 30px 0;}


/* jquery ui add */
/* div#tabs{margin-top:0;}
div.ui-tabs{padding:0;}
div.ui-tabs .ui-tabs-panel{padding:0;border:none;}
.ui-tabs ul.ui-tabs-nav{padding:8px;}
div.ui-widget-content{border:none !important;}
ul.ui-widget-header{border-radius:0;border:none;border-bottom:1px solid #cdd2d7;background:#eff4f7;padding:8px;}
li.ui-state-default, .ui-widget-content li.ui-state-default, .ui-widget-header li.ui-state-default{border-radius:3px;border:1px solid #2460ce;background:#fff;}
.ui-tabs ul.ui-tabs-nav li{border-radius:3px;border:1px solid #2460ce !important;}
li.ui-state-default a, li.ui-state-default a:link, li.ui-state-default a:visited{font-size:13px;color:#333;font-weight:normal;}
li.ui-state-default span.ui-icon{background:url('../../images/main/btn_delete.png') no-repeat 50% 50%;}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active{background:#2460ce;}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a{color:#fff;font-weight:bold;}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active span.ui-icon{background:url('../../images/main/btn_delete_on.png') no-repeat 50% 50%;} */

/* div.ui-widget.ui-widget-content{border-radius:0; background:#ffffff;}
th.ui-state-default, .ui-widget-content th.ui-state-default, .ui-widget-header th.ui-state-default{background:#f9f9f9;border-left:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-bottom:1px solid #999999;color:#333;font-size:15px;font-family:'Nanum Gothic'}
.ui-jqgrid div.ui-jqgrid-hbox{border-top:2px solid #58585b;border-bottom:none;}
.ui-jqgrid>.ui-jqgrid-view>.ui-jqgrid-hdiv{border-bottom:1px solid #999999 !important;border-radius:0;}
.ui-state-default, .ui-widget-content td.ui-state-default, .ui-widget-header td.ui-state-default{background:#f9f9f9;color:#333;font-size:14px;}
.ui-jqgrid div.ui-jqgrid-bdiv{border-bottom:1px solid #999999;}
.ui-jqgrid div.ui-jqgrid-btable td.jqgrid-rownum{border:1px solid #dddddd;}
.ui-jqgrid div.ui-jqgrid-bdiv tr.ui-row-ltr>td{border-top:none;font-size:14px;}
div.ui-jqgrid tr.jqfoot>td, div.ui-jqgrid tr.jqgroup>td, div.ui-jqgrid tr.jqgrow>td{padding:4px 2px;}
div.ui-jqgrid .ui-jqgrid-bdiv tr.ui-row-ltr>td{border-color:#dddddd !important} */

/* div.ui-state-default, .ui-widget-content div.ui-state-default, .ui-widget-header div.ui-state-default{border-radius:0 ;background:#fff;border-bottom:1px solid #c6c6c6;}
.ui-state-default .fa-fw{width:26px;}
span.fa-step-backward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_first.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
span.fa-backward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_prev.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
span.fa-forward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_next.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
span.fa-step-forward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_last.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
.ui-jqgrid .ui-pg-table td{color:#333;}
.ui-jqgrid-pager .ui-widget-content{height:23px !important;} */

/* div.ui-dialog{border:1px solid #bababa;padding:0;}
div.ui-dialog .ui-dialog-titlebar{padding: .5em 1.5em;border:none; /*background:#133572 url('../../images/main/bg_popup.png') no-repeat 0 0; border-radius:0;font-size:18px; background:#476683; color:#ffffff; }
div.ui-dialog .ui-dialog-titlebar-close{font-size:0;}
div.ui-dialog .ui-button-icon-only .ui-icon{left:0;top:0;height:15px;}
div.ui-dialog .ui-dialog-titlebar-close{right:22px;margin-top:-7px;}
div.ui-dialog .ui-widget-header .ui-icon{background: url('../../images/main/btn_popup_close.png') no-repeat 0 0;}
div.ui-dialog .tit_ty1{padding: 20px 0;border:none;}
div.ui-dialog .ui-dialog-content{border:none !important;padding:12px 20px 29px; background:#ffffff; border:1px solid #dddddd!important;} */

/* 이용약관 */
.total_wrap_center{overflow:hidden;  width:800px; height:auto; margin:0 auto;  position:absolute; top:50%; left:50%; transform:translateX(-50%) translateY(-50%);}
.a_tit_01{font-size:23px; color:#476683; line-height:24px;}
.a_tit_01.mid{padding-left:20px;}
.a_sub_tit_02{font-size:15px; color:#666666; }
.txt-area_02{width:100%; border:1px solid #d6dfe4; background:#ffffff; padding:30px; box-sizing:border-box; overflow:auto;}
.a_tit_02{font-size:15px; color:#303030; line-height:18px;}
.a_txt_01{font-size:14px;}
.a_txt_01.mid{padding-left:15px;}
.a_txt_01.sm{padding-left:25px;}

.agree_box{border:1px solid #dddddd; padding:10px; box-sizing:border-box;}


/* paging */
div.ui-jqgrid-pager{border:none!important; margin-top:10px;}
.ui-pager-control td{background:none;}
.ui-pager-control .ui-pg-table tbody tr td{border:none!important; padding:0; vertical-align:middle; }

div.ui-state-default, .ui-widget-content div.ui-state-default, .ui-widget-header div.ui-state-default{border-radius:0 ;background:none;border-bottom:1px solid #c6c6c6;}
.ui-state-default .fa-fw{display:inline-block; width:28px; height:25px;  background:#ffffff;}
span.fa-step-backward:before{content:'';display:inline-block; background:url('../../images/main/btn_page_first.png') no-repeat 50% 50%;width: 28px;height: 25px; }
span.fa-backward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_prev.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
span.fa-forward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_next.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
span.fa-step-forward:before{content:'';display:inline-block;background:url('../../images/main/btn_page_last.png') no-repeat 50% 50%;width: 26px;height: 23px;border:1px solid #dddddd;}
.ui-jqgrid .ui-pg-table td{color:#333;}
.ui-jqgrid-pager .ui-widget-content{height:25px!important; margin-top:-5px; line-height:24px; vertical-align:0%;}

/* .cbox{padding:0 15px!important; } */

/* 푸터 */
.sub_footer{ background:#dde3dc; width:100%; height:60px; text-align:center; /* position:absolute; *//* width:calc(100% + 49px); */ width:100%; box-sizing:border-box; bottom:0; position:fixed;}
.sub_footer .txt_f{display:inline-block; color:#777777; font-size:14px;  line-height:60px; margin-right:90px;}
.sub_footer .txt_f:last-child{margin-right:0;}

/* 팝업 */

