/* reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0} 
img,fieldset,iframe{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none} 
img, input, button, select, textarea {vertical-align:middle;}
button {overflow:visible;margin:0;padding:0;border:none;background:0;vertical-align:middle;cursor:pointer;}
label {display:inline-block;vertical-align:middle;cursor:pointer;}
em, i, address {font-style:normal;}
a, a:link, a:visited {text-decoration:none;}
a:hover {color:#555;}
a:active {color:#555;text-decoration:none;}
table {border-spacing:0;border-collapse:collapse;table-layout:fixed;word-wrap:break-word;}
hr, legend, caption {overflow:hidden;position:absolute;top:-9999px;left:-9999px;height:0;font-size:0;line-height:0;}
caption{position:static;}
input, textarea, select, button{color:#555;font-size:13px;font-family:'Noto Sans KR', 고딕, san-serif, IcoMoon,dashicons, FontAwesome!important;}
textarea{resize:none;}
article, aside, footer, header, hgroup, nav, section, menu {display:block; padding:0; margin:0;}
abbr, acronym, applet, audio, big, canvas, cite, dfn,
code, samp, kbd, var, datalist, details, keygen, small, 
source, strike, sub, sup, tt {margin:0; padding:0;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal} 
button::-moz-focus-inner,
input::-moz-focus-inner{padding:0;}


/* display */
.db{display:block!important;}
.dib{display:inline-block!important;}


#left_wrap {float:left;overflow:hidden;width:255px; height:100%; min-height:100%; margin:0 auto; position: relative; overflow:hidden;}

/*Header*/
.header {position: relative;  margin:0 auto;/*position:fixed; z-index:10;*/width:100%; height:143px; top:0;  background:#ffffff; border-right:1px solid #d2d2d2;/* border-bottom:5px solid #3b64af;*/}
.header .logo{float:left;padding: 10px;}
.header ul.gnb_comm{float:left;width:245px;height:50px;left:0px; margin-top:13px ;padding:8px 0 3px 10px;font-size:15px;color:#fff;background:#535353;}
.header ul.gnb_comm li{float:left;padding-right:3px;}
.header ul.gnb_comm li strong {color:#fff; }
.header ul.gnb_comm li.last {background: none;}
.header ul.gnb_comm li a{color:#fff;}
.header ul.gnb_comm li a:hover {text-decoration:none;}


/* sidebar */
.sidebar{position:fixed;left:0;top:0px;width:256px; box-sizing: border-box;height:100%;/*height: calc(100% - 52px)*/;z-index:3;border-right:1px solid #d2d2d2;background:#fff;box-shadow: 5px 5px 5px #f5f5f5; }
.sidebar .btn_lock{position:absolute;right:-27px;top:50%;margin:-46px 0 0;background:#fff; border:1px solid #d6dfe4; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
.sidebar .btn_lock a{display:block; width:25px; height:100px; font-size:0; line-height:0; background:url('../../images/main/bg_arrow.png') no-repeat 5px 50%; }
.sidebar .btn_lock.lock a{}
.sidebar .btn_unlock{position:absolute;right:-27px;top:50%;margin:-46px 0 0;background:#fff; border:1px solid #d6dfe4; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}
.sidebar .btn_unlock a{display:block; width:25px; height:100px; font-size:0; line-height:0; background:url('../../images/main/bg_arrow_off.png') no-repeat 5px 50%; }
.sidebar .btn_menu{display:inline-block;width:50%;margin-right:-4px;background:#2460ce;height:47px;line-height:46px;border-top:2px solid #3953a4;text-align:center;font-size:16px;color:#fff;font-weight:bold;}
.sidebar .btn_bookmark{display:inline-block;width:50%;margin-right:-4px;background:#927660;height:47px;line-height:46px;border-top:2px solid #3953a4;text-align:center;font-size:16px;color:#fff;font-weight:bold;}
 

.sidebar .lnb{position:relative; /*height: calc(100% - 206px)*/;height:100%;border-top:none; overflow-y:auto;}
.off-menu .sidebar .lnb{font-size:0;}
.off-menu .sidebar .lnb ul li a{font-size:0;}
.sidebar .lnb li{position:relative;border-bottom:1px solid #d6dfe4;}
.sidebar .lnb li a{display:block;height:48px;padding:0 0 0 18px;line-height:47px;color:#303030;font-weight:bold;font-size:17px;background:#fcfcfc;}
.sidebar .lnb li a:hover{text-decoration:none;}
.sidebar .lnb > li > a.on{background:#3b64af;color:#ffffff; border-bottom:1px solid #d6dfe4;}
.sidebar .lnb ul{display:none;}
.sidebar .lnb ul li{border-bottom:none;}
.sidebar .lnb ul li a{height:50px;line-height:48px;  /*padding:0 3px;*/ border-bottom:1px solid #cfcfcf;font-size:16px;color:#303030;background:#f6f6f6; }
.sidebar .lnb > ul > li:first-child > a{border-top:1px solid #d2d2d2;}
.sidebar .lnb ul li:last-child a{border:none;}
.sidebar .lnb > li > ul > li > a.on{margin:0;padding:0 17px;font-size:16px;color:#7fb9f5;background:#f6f6f6;}
.sidebar .lnb ul ul{margin:0 14px;}
.sidebar .lnb ul ul li a{display:inline-block; border:none;line-height:38px;height:40px;padding:0 5 0 48px;margin:0;font-size:15px;background:#fff;font-weight:normal; position:relative;}
.sidebar .lnb ul ul li a:hover::before{display:inline-block; content:""; background:url('../../images/main/depth_arrow.png') center no-repeat; width:10px; height:12px; position:absolute; left:0; top:13px;}
.sidebar .lnb > li > ul > li > ul > li.on a{font-weight:bold;}
.sidebar .lnb > li > ul > li > ul > li.on > a::before{display:inline-block; content:""; background:url('../../images/main/depth_arrow.png') center no-repeat; width:10px; height:12px; position:absolute; left:0; top:13px;}
.lnb_footer{position:absolute; width:100%; padding:25px 25px 50px 25px; box-sizing:border-box;  bottom:0; left:0; background:#ebebeb;}
.lf_logo{display:block; text-align:center;}
.lnb_txt_f{font-size:11px;  }
/* .sidebar .lnb ul ul li a:hover{color:#000;font-weight:bold;} */
/* .sidebar .lnb ul ul li a:before{content:'';display:inline-block;vertical-align:middle;width:2px;height:2px;background:#aaaaaa;margin-right:6px;} */


/* container */
#container{position:absolute;left:287px; top:20px;z-index:1;width:98%; min-height:calc(100% - 80px);}
#container:after{content:"";display:block;clear:both;}
#container_02{position:absolute;left:287px; top:110px;z-index:1;min-width:800px; min-height:calc(100% - 80px);}
#container_02:after{content:"";display:block;clear:both;}
#container_03{position:relative; width:100%; /* height:100vh;*/ box-sizing:border-box; height: calc(100% - 150px);}
#container_04{    position: relative; width: 100%; height: 100vh; box-sizing: border-box;}

/* title */
.title_box{width:100%; overflow:hidden;}
.fl{float:left;}
.fr{float:right;}


/* table type */
.tbl_ty1{position:relative; margin:15px 0 0 0;}
.tbl_ty1 table{width:100%;}
.tbl_ty1 tbody th{font-size:14px;font-weight:bold;text-align:center;color:#ffffff; height:40px; background:#aaaaaa; border:1px solid #dcdcdc; }  
.tbl_ty1 td{height:40px; background:#ffffff;  border:1px solid #dcdcdc; padding:0 10px;}
/* .tbl_ty1 .btn_right2{top:-32px;} */

.tbl_ty2{background:#fff; border-bottom:1px solid #dddddd; border-top:1px solid #dddddd; margin-top:15px;}
.tbl_ty2 table{width:100%;}
.tbl_ty2 thead th{font-size:15px;font-weight:bold;text-align:center;border-right:1px solid #e6e6e6;background:#f9f9f9;border-bottom:1px solid #999999; height:40px; background:#476683; color:#ffffff; padding:0 5px;}
.tbl_ty2 td{line-height:1.2;font-size:14px;border-bottom:1px solid #dddddd;text-align:center; height:40px; color:#303030; padding:0 5px;}
.tbl_ty2 tbody tr{background:#ffffff; border:1px solid #d6dfe4;}
.tbl_ty2 tbody tr:last-child{border-bottom:0;}
.tbl_ty2 tbody tr:nth-child(2n){background:#f0f4f7;}
.tbl_ty2 tbody tr th{font-size:15px;font-weight:bold;text-align:center;border-right:1px solid #e6e6e6;background:#f9f9f9;border-bottom:1px solid #999999; height:40px; background:#476683; color:#ffffff; padding:0 5px;}
.tbl_ty2 tbody tr td{line-height:1.2;font-size:14px;border-bottom:1px solid #dddddd;text-align:center; height:40px; color:#303030; padding:0 15px;}


.tbl_ty3{border:1px solid #dddddd;background:#fff;border-bottom:none;}
.tbl_ty3 table{width:100%;}
.tbl_ty3 table tr{height:45px;}
.tbl_ty3 th{/*padding:5px 10px 4px 20px; */ padding:0 15px;font-size:15px;font-weight:bold;border-right:1px solid #dddddd;color:#ffffff;background:#476683;border-bottom:1px solid #dddddd;text-align:center;}
.tbl_ty3 tbody th{border-right:1px solid #999}
.tbl_ty3 td{/*padding:9px 4px 10px 20px;*/ padding:5px 15px; line-height:1.2;font-size:15px;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;}

.tbl_ty4{position:relative; margin:15px 0 0 0; border-radius:12px; overflow:hidden; border:1px solid #d6dfe4;}
.tbl_ty4 table{width:100%;}
.tbl_ty4 table tr{ border-bottom:1px solid #d6dfe4;}
.tbl_ty4 table tr:last-child{border-bottom:0;}
.tbl_ty4 tbody th{font-size:14px;font-weight:bold;text-align:center;color:#000000; height:40px; background:#eeeeee;  border-right:1px solid #d6dfe4; border-left:1px solid #d6dfe4;}   
.tbl_ty4 tbody th:first-child{border-left:0;}
.tbl_ty4 td{height:40px; background:#ffffff;  padding:0 20px;}

.t-area{border:1px solid #dcdcdc; padding:10px; background:#ffffff; box-sizing:border-box;}
.t-area textarea{border:none; height:100%;}

.file_box{width:100%; overflow:hidden; display:block; box-sizing:border-box; height:auto;}
input.upload_text {/*읽기전용 인풋텍스트*/ float:left; width:200px;/* 버튼 포함 전체 가로 길이*/ height:30px; line-height:19px; padding:0 3px; border:1px solid #dcdcdc;}
div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/ position:absolute; top:0; right:0; cursor:pointer; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -moz-opacity:0;}
div.upload-btn_wrap {/*버튼테두리 감싼 div*/ overflow:hidden; position:relative; float:left; width:70px;/*width, height 값은 button(찾아보기)값과 같아야함 */ height:34px; padding-left:3px; }
div.upload-btn_wrap button {/*버튼 div*/ width:70px; height:34px; background:#333; border:1px solid #333; color:#fff; font-size:15px; }



/* box */
.box_tab{position:relative; margin-top:8px; border-bottom:2px solid #314960;}
.box_tab ul{position:relative; overflow:hidden;  width:calc(100% - 10%);}
.box_tab li{position:relative;width:10%;height:35px; float:left; box-sizing:border-box;}
.box_tab li a{display:block;height:35px;line-height:35px; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc; background:#fff;padding:0 25px 0 13px ;color:#333;font-size:13px;letter-spacing:-0.02em; box-sizing:border-box;}
.box_tab li:last-child a{border-right:1px solid #dcdcdc;}
.box_tab li:nth-child(10n) a{border-right:1px solid #dcdcdc;}

.box_tab li button{position:absolute;display:block;width:12px;height:12px;background:url('../dems/images/common/btn_delete.png') no-repeat 50% 50%;right:13px; top:12px;font-size:0;}
.box_tab li.on a, .box_tab li a:hover{background:#476683;color:#fff;font-weight:bold;text-decoration:none;}
.box_tab li.on button, .box_tab li a:hover + button{background:url('../dems/images/common/btn_delete_on.png') no-repeat 50% 50%;}
.box_tab .btn_close_all{position:absolute; display:inline-block; bottom:0; right:0; height:35px;line-height:35px;  width:10%;right:0px; top:0px; text-align:right; color:#000; font-size:13px;font-weight:bold; box-sizing:border-box; text-align:left;  padding-left:13px; background:#aaaaaa; color:#ffffff; border:1px solid #dcdcdc; border-bottom:0; bottom:10px;}
.box_tab .btn_close_all::after{display:inline-block; content:""; background:url('../dems/images/common/btn_close.png') center no-repeat; width:12px; height:12px; position:absolute; top:50%; transform:translateY(-50%); right:13px;}


/* txt */
.tit_ty1{position:relative; font-size:23px;font-weight:bold;color:#666666;letter-spacing:-1px; line-height: 26px;  margin-top:30px; display:inline-block;}
.tit_ty2{position:relative; font-size:18px;font-weight:bold;color:#666666;letter-spacing:-1px; line-height: 26px;  margin-top:30px; display:inline-block;}
.tit_ty2::before{display:inline-block; content:"-"; color:#666666;  font-weight:bold; margin-right:10px;}
.sub_tit_01{display:inline-block; color:#303030; font-size:15px; line-height:26px; padding-left:10px;}
.sub_tit_01 .total{color:#2983d9;}
.sub_tit_01::before{display:inline-block; content:""; width:2px; height:15px; background:#303030; margin-right:10px; vertical-align:-6%;}

.txt_small{font-size:13px !important; color:#3b5874;}
.txt_small_02{font-size:13px !important; color:#ff7a04;}
.col_green{color:#339900 !important;}

.point{display:inline-block; font-size:18px; color:#fbff01; margin-left:5px;}
.point_02{display:inline-block; font-size:18px; color:#ff7a04; margin-left:5px;}


.scroll_y{position:relative;overflow:hidden;overflow-y:scroll;background:#fff;}
.scroll_x{position:relative;overflow:hidden;overflow-x:scroll;background:#fff;}


/* btn */
.btn_center{text-align:center;margin:50px 0 0;}
.btn_center.line{border-top:1px solid #e5e5e5;padding-top:20px;}
.btn_right{text-align:right; margin:10px 0 0;}
.btn_right2{position:relative; text-align:right;}
.btn_right3{text-align:right; /*margin:-34px 0 9px;*/ float:right; display:inline-block; margin-top:25px;}

.btns{position:relative; display:inline-block; min-width:36px; height:33px;padding:0 18px; line-height:31px;color:#888888;font-size:14px;background:#fff;border:1px solid #eeeeee;text-align:center;vertical-align:middle;text-decoration:none;overflow:hidden; letter-spacing:-0.01em;font-weight:bold; background:#ffffff;}
a.btns{color:#333;height:24px;line-height:22px;}
button.btns{line-height:15px;padding-bottom:1px;}
.btn_ty1{background:#7c7c7c;color:#fff;border-color:#448aca;}/* 조회 */
.btn_ty2{background:#fff;color:#448aca;border-color:#448aca;}/* 등록,승인 */
.btn_ty3{background:#f28786;color:#fff;border-color:#f28786;}/* 삭제 */
.btn_ty4{background:#fff;color:#888888;border-color:#eeeeee ;}/* 목록 */
.btn_ty5{background:#63b88a;color:#fff;border-color:#eeeeee;}/* 저장 */
.btn_ty6{background:#fff;color:#63b88a;border-color:#eeeeee;}/* 수정 */
.btn_ty7{background:#fff;color:#448aca;border-color:#eeeeee;}/* 추가 */
.btn_ty8{background:#fff;color:#f28786;border-color:#eeeeee;}/* 취소 */
.btn_ty9{background:#888888;color:#ffffff;border-color:#888888;}/* 닫기 */

a.btn_ty1{color:#fff;}
a.btn_ty3{color:#fff;}

.btn_search{border:1px solid #dcdcdc; margin-left:-5px;width:34px;height:34px; background:#fff url('../dems/images/common/btn_search.png') no-repeat 50% 50%;font-size:0;}
.btn_calendar{border:1px solid #dcdcdc; margin-left:-5px;width:30px;height:30px;background:#fff url('../dems/images/common/bg_calendar.png') no-repeat 50% 50%;font-size:0;}
.btn_file{display:inline-block; width:24px; height:19px; background:url('../dems/images/common/btn_down.png') center no-repeat; background-size:cover;}
.btn_del{display:inline-block; width:14px; height:14px; background:url('../dems/images/common/btn_del.png') center no-repeat; background-size:cover;}

.btns02{display:inline-block; height:28px; padding:0 10px; font-size:14px; background:#888888; color:#ffffff; line-height:28px; border-radius:5px; margin:0 5px;}
.btns02.ty1{background:#fbba66;}/* 선택, 보기 */
.btns02.ty2{background:#f28786;}/* 삭제 */
.btns02.ty3{background:#63b88a;}/* 상세보기,이력보기, */
.btns02.ty4{background:#448aca;}/* 찾기, 추가 */

.btn_excel{display:inline-block; height:30px; box-sizing:border-box; color:#ffffff; font-size:14px; background:#63b88a; padding:0 12px;   border-radius:15px;}
.btn_excel::before{display:inline-block; content:""; background:url('../dems/images/common/ico_excel.png') center no-repeat; width:18px; height:19px; vertical-align:bottom; margin-right:5px;}





