.viewer
{
    width: 99%;
    height: 780px;
    border: 1px solid black;
    position: relative;
    -ms-touch-action: none;
}

.wrapper
{
    overflow: hidden;
}

.layer
{
    display: none; 
    width: 300px; 
    border: 0px solid gray; 
    padding:1px; 
    font-size:12px; 
    line-height:15px; 
    font-weight:100;
}

.iviewer_common {
    position:absolute;
    bottom:10px;
    border: 1px  solid #000;
    height: 28px;
    z-index: 5000;
}

.iviewer_cursor {
    cursor: Crosshair;
}

.iviewer_drag_cursor {
    cursor: move;
}

.iviewer_button {
    width: 28px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
}

.iviewer_zoom_in {
    left: 20px;
    background: url('/images/com/iviewer/iviewer_zoom_in.gif');
}

.iviewer_zoom_out {
    left: 55px;
    background: url('/images/com/iviewer/iviewer_zoom_out.gif');
}

.iviewer_zoom_zero {
    left: 90px;
    background: url('/images/com/iviewer/iviewer_zoom_zero.gif');
}

.iviewer_zoom_fit {
    left: 125px;
    background: url('/images/com/iviewer/iviewer_zoom_fit.gif');
}


.iviewer_zoom_status {
    left: 160px;
    font: 1em/28px Sans;
    color: #000;
    background-color: #fff;
    text-align: center;
    width: 60px;
}

.iviewer_rotate_left {
    left: 227px;
    background: #fff url('/images/com/iviewer/iviewer_rotate_left.png') center center no-repeat;
}

.iviewer_rotate_right {
    left: 262px;
    background: #fff url('/images/com/iviewer/iviewer_rotate_right.png') center center no-repeat;
}

.newWindows {
    left: 297px;
    background: #fff url('/images/com/iviewer/iviewer_new_windows.png') center center no-repeat;
}

.print {
    left: 332px;
    background: #fff url('/images/com/iviewer/iviewer_print.jpg') center center no-repeat;
}
