BODY {
   scrollbar-face-color: #ffffff; 
   scrollbar-highlight-color: #cccccc; 
   scrollbar-shadow-color: #cccccc; 
   scrollbar-3dlight-color: #ffffff ; 
   scrollbar-arrow-color: #cccccc; 
   scrollbar-track-color: #ffffff; 
   scrollbar-darkshadow-color: #ffffff;
   FONT-SIZE: 9pt; COLOR: #4b4b4b; FONT-FAMILY: "Dotum"; line-height: 16px;
   width:500px;
   height:625px;
}

.tab_over_newAddr 				{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #67b3e4; text-decoration: none}
a.tab_over_newAddr:LINK 	  	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #67b3e4; text-decoration: none}
a.tab_over_newAddr:VISITED	 	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #67b3e4; text-decoration: none}
a.tab_over_newAddr:ACTIVE 		{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #67b3e4; text-decoration: none}
a.tab_over_newAddr:HOVER 		{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #0072bc; text-decoration: none}

.tab_out_newAddr 				{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #6b6b6b; text-decoration: none}
a.tab_out_newAddr:LINK 	  		{COLOR: 6b6b6b; TEXT-DECORATION: NONE ; font-size: 12px;} 
a.tab_out_newAddr:VISITED	 	{COLOR: 6b6b6b; TEXT-DECORATION: NONE ; font-size: 12px;}	
a.tab_out_newAddr:ACTIVE 		{COLOR: 6b6b6b; TEXT-DECORATION: NONE ; font-size: 12px;}	
a.tab_out_newAddr:HOVER 		{COLOR: 0072bc; TEXT-DECORATION: NONE ; font-size: 12px;}

.small1_newAddr {font-family: "Dotum"; font-size: 11px; font-weight: bold; color: #7c7c7c;}
.small2_newAddr {font-family: "Dotum"; font-size: 12px; font-weight: none; color: #7c7c7c;}

.btn_newAddr 			{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #ffffff; text-decoration: none}
a.btn_newAddr:LINK 	  	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #ffffff; text-decoration: none}
a.btn_newAddr:VISITED	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #ffffff; text-decoration: none}
a.btn_newAddr:ACTIVE 	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #ffffff; text-decoration: none}
a.btn_newAddr:HOVER 	{font-family: "Dotum"; font-size: 12px; font-weight: bold; color: #b1eeff; text-decoration: none}

select	{width: 100%; border: 0px; font-weight: bold; font-size: 12px;}

.v_itemlist
{
	border:1px #ffffff ridge;
	width:480px;
	height:270px;
}

.f_itemlist 
{
	border:1px #ffffff ridge;
	width:480px;
	height:390px;
}